extends layout

block content
  .container
      hr
      h1
        i Monitor de Sensores
      hr
      .row
        .col-md-8
          | Proyecto de lectura de Sensores
        .col-md-4(align='left')
          h3 Iniciar Sesion
          hr
          p Ingrese sus datos:
          if code
            .alert.alert-primary(role='alert')
              | Info #{code}:
              a.alert-link(href='#')  #{message}
              | .

          form(id='login', action='/sensorData/login', method='POST')
            p
              | Nombre:
              br
              input(type='text', name='name', placeholder='Nombre', required='')
            p
              | Contraseña:
              br
              input(type='password', name='password', placeholder='Contraseña', required='')
            button.btn.btn-dark(type='submit', role='submit') Iniciar Sesion
      hr
