doctype html
html(lang='es')
  head
    meta(charset='UTF-8')
    title Monitor Sensores | Redes 3
    link(rel='stylesheet', href='../static/css/style.css')
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css', integrity='sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh', crossorigin='anonymous')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.6.3/css/all.css', integrity='sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/', crossorigin='anonymous')
    script(src='https://code.jquery.com/jquery-3.4.1.slim.min.js', integrity='sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n', crossorigin='anonymous')
    script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js', integrity='sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo', crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js', integrity='sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.js', type='text/javascript')
  body
    header
          // menu
          nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navegationMenu', aria-controls='navegationMenu', aria-expanded='false', aria-label='Toggle navigation')
              span.navbar-toggler-icon
            #navegationMenu.collapse.navbar-collapse
              a.navbar-brand(href='#')
                i.fas.fa-network-wired
                |   Monitor
              ul.navbar-nav.mr-auto.mt-2.mt-lg-0
                li.nav-item.active
                  a.nav-link(href='/sensorData/') Inicio
                if id_user
                  li.nav-item
                    a.nav-link(data-toggle='modal', data-target='#sensorsOpModal',) Estadisticas
                  li.nav-item
                    a.nav-link(href='src/discover.html') En vivo
              if !id_user
                ul.navbar-nav.my-2.my-lg-0
                  li.nav-item
                    a.nav-link(data-toggle='modal', data-target='#signModal')
                      span.fas.fa-users-cog
                      |  Registrate
              if id_user
                ul.navbar-nav.my-2.my-lg-0
                  li.nav-item
                    a.nav-link(href='src/discover.html')
                      span.fas.fa-door-open
                      |  Cerrar Sesion
          // animated info
          .container-cover
            .degraded-gradient
              .container-details
                .details
                  h1 Monitor
                  p
                    | Descripcion corta titulo
                  button(data-toggle='modal', data-target='#contactUsModal') Contactenos

    block content
    // contact us
    #contactUsModal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            h5.modal-title Contactenos
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body
            .container.text-center.center
              h3 Informacion
              p
                em Proyecto Final- Redes de Comunicaciones III
              p Informacion sobre el desarrollo de esta pagina:
              .col
                p(align='left') Realizada por:
                p(align='left')
                  span.fa.fa-user
                  |   Daissi Bibiana Gonzalez Roldan
                  br
                  span.fa.fa-key
                  b
                    i   Cód.
                  |  20152020108
                  br
                  span.fa.fa-envelope
                  b
                    i   Email:
                  |  dbgonzalezr@correo.udistrital.edu.co
                p(align='left')
                  span.fa.fa-user
                  |   Juan Camilo Sarmiento Reyes
                  br
                  span.fa.fa-key
                  b
                    i   Cód.
                  |  20152020067
                  br
                  span.fa.fa-envelope
                  b
                    i   Email:
                p
                  span.fa.fa-map-marked
                  |   Bogota, COL
              .col
                h3 Contactanos
                .row
                  .col-sm-6.form-group
                    input#nombre.form-control(name='nombre', placeholder='Nombre', type='text')
                  .col-sm-6.form-group
                    input#email.form-control(name='email', placeholder='Email', type='email', required='')
                textarea#comentarios.form-control(name='comentario', placeholder='Comentario', rows='5')
          .modal-footer
            button.btn.btn-secondary(type='button', data-dismiss='modal') Cerrar
            button.btn-customized(type='button') Enviar
    #signModal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
     .modal-dialog(role='document')
       .modal-content
         .modal-header
           h5.modal-title Registro
           button.close(type='button', data-dismiss='modal', aria-label='Close')
             span(aria-hidden='true') ×
         .modal-body
           form(action='/sensorData/signin', method='POST')
             p
               | N. Identificacion*:
               br
               input(type='text', name='id_user', placeholder='NIT', required='')
             p
               | Nombre*:
               br
               input(type='text', name='name', placeholder='Nombre', required='')
             p
               | Apellido*:
               br
               input(type='text', name='lastname', placeholder='Apellido', required='')
             p
               | F.de Nacimiento(dd/mm/aa):
               br
               input(type='text', name='date_birth', placeholder='00-00-0000')
             p
               | Direccion:
               br
               input(type='text', name='address', placeholder='Direccion')
             p
               | E-mail*:
               br
               input(type='text', name='email', placeholder='Email', required='')
             p
               | Telephone:
               br
               input(type='text', name='telephone', placeholder='Telefono')
             p
               | Contraseña*:
               br
               input(type='password', name='password', placeholder='Contraseña', required='')
             p
               | Confirmacion de contraseña*:
               br
               input(type='password', name='conf_password', placeholder='Contraseña', required='')
             button.btn.btn-dark(type='submit') Registrarse
         .modal-footer
           button.btn.btn-secondary(type='button', data-dismiss='modal') Cerrar
    //
    //opcionSensor
    #sensorsOpModal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            h5.modal-title Sensores
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body
            .container.text-center.center
              p Elije el sensor del que desees observar el comportamiento:
              .row
                .col
                  p
                    button.btn.btn-dark(type='button' onclick="window.location.href = '/sensorData/statistics/GAS';") Gas
                  p
                    button.btn.btn-secondary(type='button' onclick="window.location.href = '/sensorData/statistics/Humedity';") Humedad
                  p
                    button.btn.btn-info(type='button' onclick="window.location.href = '/sensorData/statistics/Temperature';") Temperatura
                  p
                    button.btn.btn-dark(type='button' onclick="window.location.href = '/sensorData/statistics/CO2';") CO2
                  p
                    button.btn.btn-secondary(type='button' onclick="window.location.href = '/sensorData/statistics/SoilMoisture';") Humedad de Suelo
                  p
                    button.btn.btn-info(type='button' onclick="window.location.href = '/sensorData/statistics/LightUV';") Luz
                .col-4
                  img(src='../static/images/sensor.png', width='100', height='100')
            .modal-footer
              button.btn.btn-secondary(type='button', data-dismiss='modal') Cerrar
    // footer
    footer.text-center
      br
      b
        i
          | Copyright © 2020
          br
          | Universidad Distrital Francisco José de Caldas.
          br
          | Todos los derechos reservados.
          br
