extends layout

block content
    .container
      hr
      .row
        .col-md-4(align='left')
          h3 Proyecto UD
          hr
          p
            | Realizado para la materia
            b
              i  Resdes de Comunicaciones III
            |  de la UD:
          a(href='https://www.udistrital.edu.co/')
            img(src='../static/images/udistrital_esc.png', alt='UDistrital', width='170', height='170')
        .col-md-8
          h1
            | Bienvenid@
            i  #{name}
            | !
          hr
          .row
            .col
              h3 Perfil
              hr
              p
                br
                b No. de Identificacion:
                |  #{id_user}
                br
                b Nombre:
                |  #{name}
                br
                b Apellido:
                |  #{lastname}
                br
                b F. de Nacimiento:
                |  #{date_birth}
                br
                b Direccion:
                |  #{address}
                br
                b E-Mail:
                |  #{email}
                br
                b Telefono:
                |  #{telephone}
            .col
              img#oth_img(src='../static/images/user.png', alt='User')
              p
                br
                button.btn.btn-info(type='button', data-toggle='modal', data-target='#updateModal') Actualizar
              p
                br
                if code
                  .alert.alert-primary(role='alert')
                    | Info #{code}:
                    a.alert-link(href='#')  #{message}
                    | .
          hr
          p
            b Nota:
            |  Recuerda que tu numero de identificacion no es actualizable.
          p
      hr
      h3 Monitor de Sensores
      hr
      p
        | Este proyecto que esta orientado al monitore del ambiente, asi siendo producido por estudiantes de la
        b
          i  Universidad Distrital Francisco José de Caldas
        |  puedes comenzar a explorar:
      .row
        .col
          img.rounded-circle(src='../static/images/info.png', alt='Generic placeholder image', width='140', height='140')
          h2 Estadisticas de Lectura
          p Observa que comportamiento ha tenido el ambiente.
          p
            a.btn.btn-secondary(data-toggle='modal', data-target='#sensorsOpModal', role='button') Ver »
        .col
          img.rounded-circle(src='../static/images/info.png', alt='Generic placeholder image', width='130', height='130')
          h2 Monitoreo en Tiempo Real
          p Descubre en que condiciones te encuentras.
          p
            a.btn.btn-secondary(href='src/discover.html', role='button') Ver »
        .col
          img.rounded-circle(src='../static/images/info.png', alt='Generic placeholder image', width='140', height='140')
          h2 Ayuda
          p ¿Tienes dudas respecto a la usabilidad de nuestro servicio?
          p
            a.btn.btn-secondary(data-toggle='modal', data-target='#infoModal', role='button') Ver »
      hr
    // info place
    #infoModal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            h5.modal-title Informacion de ayuda
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body
            .row
              .col-md-4
                img(src='../static/images/plant.png', alt='Plant', width='150', height='150')
              .col-md-8
                p
                  | Este es un proyecto cuyo objetivo es elementalmente la lectura de sensores dipersos actualmente para el cuidado de una planta, de esta forma encontraras herramientas para ver las
                  b estadisticas
                  |  del ambiente al que ha estado expuesta, asi como la visualizacion del
                  b estado actual
                  |  en el que se encuentra.
          .modal-footer
            button.btn.btn-secondary(type='button', data-dismiss='modal') Cerrar
    // update place
    #updateModal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            h5.modal-title Actualizacion de datos
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body
            form(action='/sensorData/update/'+id_user, method='POST')
              p
                | N. Identificacion*:
                br
                input(type='text', name='id_user', value=id_user, disabled='')
              p
                | Nombre:
                br
                input(type='text', name='name', value=name, required='')
              p
                | Apellido*:
                br
                input(type='text', name='lastname', value=lastname, required='')
              p
                | F.de Nacimiento(dd/mm/aa):
                br
                input(type='text', name='date_birth', value=date_birth, required='')
              p
                | Direccion:
                br
                input(type='text', name='address', value=address, required='')
              p
                | E-mail:
                br
                input(type='text', name='email', value=email, required='')
              p
                | Telephone:
                br
                input(type='text', name='telephone', value=telephone)
              p
                | Contraseña*:
                br
                input(type='password', name='password', placeholder='Contraseña', required='')
              hr
              p
                | En caso de que desee actualizar su contraseña,
                br
                |  adicione los campos:
              p
                | Nueva Contraseña*:
                br
                input(type='password', name='new_password', placeholder='Contraseña')
              p
                | Confirmacion de contraseña:
                br
                input(type='password', name='conf_password', placeholder='Contraseña')
              hr
              button.btn.btn-dark(type='submit') Actualizar
          .modal-footer
            button.btn.btn-secondary(type='button', data-dismiss='modal') Cerrar

    
