extends layout

block content
  // Homepage
  .container
    button(data-toggle='modal', data-target='#sensorsOpModal') ver
    hr
    h3 Estadisticas
    hr
    p A partir de la infomacion obtenida, se tiene:
    h5
      b Medidas Estadisticas
    hr
    .row
      .col-5
        h4 Sensor de #{sensor_name}
        hr
        |             Dentro de los analisis sobre el sensor de #{sensor_name} se tienen como medidas de analisis:
        ul
          li(type='disc')
            b Promedio:
            |  #{average}
          li(type='disc')
            b Moda:
            |  #{trend}
          li(type='disc')
            b Mediana:
            |  #{range}
          li(type='disc')
            b Varianza:
            |  #{variance}
          li(type='disc')
            b Desviacion Estandar:
            |  #{standar_deviation}
        |             Teniendo asi la tendencia
        i (moda)
        | , las medidas de tendencia central, asi como las medidas de dispersion de los datos.
        hr
        |             De igual forma dentro de las correlaciones del sensor de #{sensor_name}, se tiene que este tiene correlaciones como:
        ul
          li(type='disc')
            b Alta Correlacion:
            br
            |  Sensor de #{correlations.max_correlation_name}: #{correlations.max_correlation}
          li(type='disc')
            b Baja Correlacion:
            br
            |  Sensor de #{correlations.min_correlation_name}: #{correlations.min_correlation}
      .col
        canvas#dispersionChart(width='100', height='100')
        script.
          let ctw = document.getElementById('dispersionChart').getContext('2d');
          let scatterChart = new Chart(ctw, {
              type: 'scatter',
              data: {
                  datasets: [{
                      label: 'Ultimos datos de analisis',
                      data: !{JSON.stringify(dataScatterGraph)},
                      pointBackgroundColor: [
                      'rgba(1, 1, 1, 1)',
                      'rgba(1, 1, 1, 1)',
                      'rgba(1, 1, 1, 1)',
                      'rgba(1, 1, 1, 1)',
                      'rgba(1, 1, 1, 1)',
                      'rgba(1, 1, 1, 1)',
                      'rgba(1, 1, 1, 1)',
                      'rgba(1, 1, 1, 1)',
                      'rgba(1, 1, 1, 1)',
                      'rgba(1, 1, 1, 1)'
                      ],
                      borderColor: [
                      'rgba(1, 1, 1, 1)'
                      ],
                      borderWidth: 1
                      }]
                      },
                      options: {
                          scales: {
                              xAxes: [{
                                  type: 'linear',
                                  position: 'bottom'
                              }]
                          }
                      }
                  });
    .row
      .col-6
        h5 Promedio por dia
        canvas#averageChart(width='100', height='100')
        script.
            let ctx = document.getElementById('averageChart').getContext('2d');
            let barChart = new Chart(ctx, {
            type: 'bar',
            data: {
            labels: !{JSON.stringify(average_per_day.labels)},
            datasets: [{
            label: '# Promedio de #{sensor_name} por dia',
            data: [#{average_per_day.avgs}],
            backgroundColor: [
            'rgba(255, 99, 132, 0.2)',
            'rgba(54, 162, 235, 0.2)',
            'rgba(255, 206, 86, 0.2)',
            'rgba(75, 192, 192, 0.2)',
            'rgba(153, 102, 255, 0.2)',
            'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
            'rgba(255, 99, 132, 1)',
            'rgba(54, 162, 235, 1)',
            'rgba(255, 206, 86, 1)',
            'rgba(75, 192, 192, 1)',
            'rgba(153, 102, 255, 1)',
            'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
            }]
            },
            options: {
            scales: {
            yAxes: [{
            ticks: {
            beginAtZero: true
            }
            }]
            }
            }
            });
      .col
        .container
          h5 Frecuencia de Rangos
          canvas#decilesChart(width='50', height='50')
          script.
            let cty = document.getElementById('decilesChart').getContext('2d');
            let labs = !{JSON.stringify(deciles_data.labels)};
            let doughnutChart = new Chart(cty, {
            type: 'doughnut',
            data: {
            datasets: [{
            data: [#{deciles_data.percentages}],
            backgroundColor: [
            'rgba(255, 99, 132, 0.2)',
            'rgba(54, 162, 235, 0.2)',
            'rgba(255, 206, 86, 0.2)',
            'rgba(75, 192, 192, 0.2)',
            'rgba(153, 102, 255, 0.2)',
            'rgba(255, 159, 64, 0.2)',
            'rgba(255, 206, 86, 0.2)',
            'rgba(75, 192, 192, 0.2)',
            'rgba(153, 102, 255, 0.2)',
            'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
            'rgba(255, 99, 132, 1)',
            'rgba(54, 162, 235, 1)',
            'rgba(255, 206, 86, 1)',
            'rgba(75, 192, 192, 1)',
            'rgba(153, 102, 255, 1)',
            'rgba(255, 159, 64, 1)',
            'rgba(255, 206, 86, 1)',
            'rgba(75, 192, 192, 1)',
            'rgba(153, 102, 255, 1)',
            'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
            }],
            labels: labs
            },
            options: {
            scales: {
            yAxes: [{
            ticks: {
            beginAtZero: true
            }
            }]
            }
            }
            });
        .container
          canvas#normalChart(width='100', height='100')
            h5 Distribucion Normal
            script.
              let ctz = document.getElementById('normalChart').getContext('2d');
              let stackedLine = new Chart(ctz, {
              type: 'line',
              data: !{JSON.stringify(dataLinearGraph)},
              options: {
                  scales: {
                      yAxes: [{
                          stacked: true
                      }]
                  }
              }
              });
